body{
    background-color:   #ffb88c;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
}
i{
    color: black;
    font-size: 25px;
}
img{
    width: 100px;
    height: 100px;
}
.header{
    text-align: center;
}
.main-section{
    /* text-align: center; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 170px 200px;
    

}
.side-left{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    /* border: 1px solid red; */
    margin-right: 150px;
                
}
.side-rigth{
    text-align: center;
    display: flex;
    width: 250px;
    flex-direction: column;
    /* border: 1px solid red; */

}